<!DOCTYPE html>
<html ng-app = "weatherReport">
	<head>
            <title>Local Weather</title>
            <meta description="" content="Get your Local weather using geolocation.">
            <link rel="stylesheet" type="text/css" href="weather.css">
			<script src="assets/angular.min.js"></script>
			<script src="assets/weather.js"></script>
	</head>
	<body ng-controller = "MainController">
		<form>
			<button type="button" id="cel" onclick="SetCelsius();">&deg;C</button>
			<button type="button" id="far" onclick="SetFahrenheit();">&deg;F</button>
		</form>
		<article>
			<section id="weather">
				<h2>{{ weatherRprt.name}} , {{ weatherRprt.sys.country }}</h2> 
				<img class="icon" ng-src = "assets/icons/{{ weatherRprt.weather[0].icon}}.png"><span id="temp">{{ weatherRprt.main.temp }}</span>
				<p id="description"> Cloudiness	: {{ weatherRprt.weather[0].description }}</p>
				<p id="pressure"> Pressure	: {{ weatherRprt.main.pressure }} hpa</p>
				<p><span id="humidity"> Humidity : {{ weatherRprt.main.humidity }} %</span></p>
				<p><span id="geoCoords"> Geo coords : [ {{ weatherRprt.coord.lon }} , {{ weatherRprt.coord.lat }} ]</span></p></section>
		</article>
    </body>
</html>